/* éléments texte */

h1 {
    font-size: 30px;
    font-weight: 400;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 18px;
    font-weight: 300;
}

span {
    font-size: 17px;
    font-weight: 300;
}