/* éléments texte */

h1 {
    font-size: 24px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-weight: 300;
}
