
@mixin menu-in{   
/* mixin menu-in */
    .entrees {
        opacity: 0;
        animation: menus-in 2s forwards ease-out;
    }
    
    .plats {
        opacity: 0;
        animation: menus-in 2s 1s forwards ease-out;
    }
    
    .desserts {
        opacity: 0;
        animation: menus-in 2s 2s forwards ease-out;
    }
    @keyframes menus-in {
        from {
            opacity: 0;
            transform: translatey(-25%);
        }
        to {
            opacity: 1;
            transform: translatey(0);
        }
    }
}


@mixin fill-heart {
    /* mixin fill-heart */
    @keyframes fill-heart {
        0% {
            fill-opacity: 0;
            stroke-opacity: 1;
        }
        50% {
            fill-opacity: 0.5;
            stroke-opacity: 0;
            transform: scale(1.3);
        }
        100% {
            fill-opacity: 1;
            stroke-opacity: 0;
            transform: scale(1.1);
        }
    }
}
