
.coeur{
    height: 10px;
    width: 10px;
    position: relative;
    top: -14px;
    padding: 10px 10px 10px 10px;
}
.coeur .fa-solid{
    position: absolute;
    top: 10px;
    display: none;
}


.coeur:hover {

    .fa-sharp{
        display: none;
    }
    .fa-solid::before{
        color: $couleur-primaire;
    }
    .fa-solid{
        display: flex;
        animation: fill-heart 2s forwards;
    }
}

@include fill-heart;