
@mixin bg-linear-gradient {
    background: linear-gradient(to bottom, $couleur-primaire 0% ,  $couleur-secondaire 100%);
}
@mixin highlight{
    background: lighten($couleur-neutre, 5%);
}

@mixin gradient-light{
    background: linear-gradient(to bottom, $lighten-primaire 0%, $lighten-secondaire 100%);
} 