
@mixin bg-linear-gradient {
    background: linear-gradient(to top, $couleur-primaire 0% ,  $couleur-secondaire 100%);
}
@mixin highlight{
    background: lighten($bg-explorer, 1%);
}

@mixin gradient-light{
    background: linear-gradient(to top, $lighten-primaire 0%, $lighten-secondaire 100%);
} 