@mixin bg-lighten{
    opacity: 0.7;
}
@mixin bg-linear-gradient {
    background: linear-gradient(to bottom, $couleur-primaire 0% ,  $couleur-secondaire 100%);
}
@mixin highlight{
    background: lighten($couleur-neutre, 0.5%);
}
