$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$bg-location: #EAEAEA;
$bg-explorer: #F7F7F7;
$font-couleur-location: #353535;
$couleur-neutre: #F6F6F6;
$gradient-button:linear-gradient(to top, $couleur-primaire 0% ,  $couleur-secondaire 100%);
$lighten-primaire: lighten($couleur-primaire, 10%);
$lighten-secondaire: lighten($couleur-secondaire, 10%)

