$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$background-principal: #F6F6F6;
$gradient-button:linear-gradient(to bottom, $couleur-primaire 0% ,  $couleur-secondaire 100%);
