/* Location */

.location {
    @include flex-justify-items-center;
    gap: 17px;
    background-color: $bg-location;

        p {
            font-size: 16px;
            font-weight: 500;
            padding: 16px 0px 15px 0px;
            margin: 0;
            color: $font-couleur-location;
        }
        
        i {
            color: $font-couleur-location;
        }
}
