@media screen  and (min-width: 1024px) {
 
.main-container {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

@include header-desktop;

.explorer-restaurants{
    h2{
        font-size: 40px;
        margin: 30px 0 8px 0;
    }
    .button-explore{
        margin: 18px 0px 30px 0px;
    }
    
}
.fonctionnement{
    padding-left: 6%;
    padding-bottom: 50px;
    position: relative;
    width: 100%;
    @include flex-column;

        h2{
            text-align: left;
            padding-top: 36px;
        }

        .buttons{
            @include flex-row;
            gap: 32px;

                .button-fonction{
                    max-width: 322px;

                        .fa-solid {
                            font-size: 16px;
                        }

                        span {
                            font-weight: 500;
                        }
                }
            
        }

}

.restaurants{
    margin: 0 auto;
    padding-left: 6%;
    padding-top: 30px;

        .restaurants-cards {
            gap: 55px;

                .cards-part{
                    @include flex-row;
                    gap: 100px;
                
                        .card{
                            max-width: 500px;
                        }
                }
        }
}

.menu{
    margin-left: 13%;
    margin-right: 13%;
    width: 74%;
}

@include footer-desktop;
}
    

