@media screen  and (min-width: 1440.2px){

    html{
        background: $bg-location;
    }

    .main-container {
        max-width: 1440px;
        box-sizing: border-box;   
        padding: 0 50px;
    }
}



