@media screen  and (min-width: 1024px) {
 
.main-container {
    width: 100%;
    min-width: 1024px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.fonctionnement{
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: column wrap;

        h2{
            text-align: left;
        }

        .buttons{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            gap: 32px;
            
        }

}

.restaurants{
    margin: 0 auto;
    .restaurants-cards {
        gap: 55px;
    }

    .cards-part{
        display: flex;
        flex-direction: row;
        gap: 91px;
        margin-left: 50px;
        margin-right: 50px;
    }
}


.menu{
    margin-left: 13%;
    margin-right: 13%;
    width: 74%;
}



footer{
    @include flex-row ;
    flex-direction: row-reverse;
    padding-top: 57px;
    padding-bottom: 30px;
    padding-right: 26.4px;

    .logo-footer {
        text-align: left;
        line-height: 0px;
        margin-right: 16px;

    }
        ul {
            display: flex;

                
                    .icon-text {
                       margin-right: 7px;
                     line-height: 16px;
                        }
                    
                    .small-span {
                        margin-left: 10px;    
                        }
                    
                
        }



}
    }


