/* Restaurants */ 

.restaurants {
    padding: 54px 20px 64px 20px;
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
}

.restaurants-cards {
    @include flex-column;
    margin-top: 30px;
    gap: 18px;
        .cards-part {
            @include flex-column;
            gap: 18px;
        }
        .card {
                height: 20rem;
                width: 100%;
                background: #FFFFFF;
                position: relative;
               @include flex-column;
                border-radius: 15px;
            }

                .card img {
                    height: 17rem;
                    width: 100%;
                    border-radius: 15px 15px 0 0;
                    object-fit: cover; 
                    overflow: hidden;
                }

                .bouton-nouveau {
                    width: 80px;
                    height: 29px;
                    background: $couleur-tertiaire;
                    border-radius: 2px;
                    color: #008766;
                    font-size: 14px;
                    font-weight: 500;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position:absolute;
                    right: 5%;
                    top: 5%;
                }
                
                .card-content {
                    height: 33%;
                    padding: 16px 25px 12px 13px;
                    @include flex-items-center; 
                    flex-direction: row;
                    justify-content: space-between;
                    position: relative;
                    
                        h3 {
                            font-size: 18px;
                        }
                        span {
                            font-size: 17px;
                            margin-top: 5px; 
                        }
                        .coeur {
                            position: absolute;
                            right: 5%;
                            bottom: 15%;
                        }
                }
                
}
.card {
    @include flex-column;
}

