@charset "UTF-8";
/* éléments texte */
h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 700;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-weight: 300;
}

/* Général */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

* {
  font-family: roboto;
  font-weight: 500;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0px;
  padding: 0;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
}

/* Header */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar p {
  font-family: shrikhand;
  font-size: 30px;
  font-weight: 400;
  padding: 14px 0px 5px 0px;
}
.navbar a {
  position: absolute;
  left: 23px;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #EAEAEA;
}
.location p {
  font-size: 16px;
  font-weight: 500;
  padding: 16px 0px 15px 0px;
  margin: 0;
  color: #353535;
}
.location i {
  color: #353535;
}

/* Explorer restaurants */
.explorer-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F7F7F7;
}
.explorer-restaurants h2 {
  margin-top: 39px;
  margin-bottom: 0;
  line-height: 28px;
  width: 70%;
  font-weight: 700;
}
.explorer-restaurants p {
  font-size: 18px;
  line-height: 21px;
  margin: 10px 20px 0px 20px;
}

.fonctionnement {
  padding-left: 20px;
  padding-bottom: 68px;
}
.fonctionnement h2 {
  padding-top: 48px;
  margin-bottom: 24px;
}

/* Bouton Explorer */
.button-explore {
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  border-radius: 35px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 57px;
  margin-top: 27px;
  padding: 13px 18.75px;
  position: relative;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.button-explore:hover {
  opacity: 0.9;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.25);
}

/* Bouton Fonctionnement */
.buttons {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  position: relative;
  gap: 20px;
  width: 100%;
}
.buttons .button-fonction {
  display: flex;
  flex-wrap: nowrap;
  height: 72px;
  width: auto;
  background: #F6F6F6;
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  padding: 28px 38px 28px 33px;
}
.buttons .button-fonction .nombre {
  display: flex;
  height: 23px;
  width: 23px;
  background-color: #9356DC;
  border-radius: 50%;
  color: #F6F6F6;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  padding-left: 7px;
  position: relative;
  top: -4px;
  left: -42.5px;
}
.buttons .button-fonction span {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.buttons .button-fonction .fa-solid {
  margin-right: 20px;
  line-height: 16px;
}

.button-fonction:hover {
  opacity: 0.9;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
  opacity: 0.7;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  background: #353535;
  color: #F6F6F6;
}
footer .logo-footer {
  font-family: shrikhand;
  font-weight: 400;
  font-size: 18px;
  margin: 22px 10px 16px 25px;
}
footer ul {
  list-style: none;
  margin: 16px 25px 22px 25px;
}
footer ul li {
  margin-bottom: 8px;
}
footer ul .icon-text {
  display: flex;
  align-items: center;
  gap: 11px;
  font-weight: 500;
  font-size: 16px;
}
footer ul .small-span {
  font-size: 16px;
  font-weight: 400;
}
footer ul a {
  color: #FFFFFF;
  font-weight: 400;
}

/* Restaurants */
.restaurants {
  padding: 54px 20px 64px 20px;
  background: #F7F7F7;
  display: flex;
  flex-direction: column;
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 18px;
}
.restaurants-cards .cards-part {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.restaurants-cards .cards-part .card {
  height: 20rem;
  width: 100%;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
}
.restaurants-cards .cards-part .card img {
  height: 17rem;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  overflow: hidden;
}
.restaurants-cards .cards-part .bouton-nouveau {
  width: 80px;
  height: 29px;
  background: #99E2D0;
  border-radius: 2px;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  top: 5%;
}
.restaurants-cards .cards-part .card-content {
  height: 33%;
  padding: 16px 25px 12px 13px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.restaurants-cards .cards-part .card-content h3 {
  font-size: 18px;
}
.restaurants-cards .cards-part .card-content span {
  font-size: 17px;
  margin-top: 5px;
}
.restaurants-cards .cards-part .card-content .coeur {
  position: relative;
}
.restaurants-cards .cards-part .card-content .coeur .fa-solid {
  position: absolute;
  top: 20px;
}

/* Image de fond */
.image-de-fond {
  min-height: 275px;
  background-size: cover;
  background-position: center;
}

.image-de-fond-gout {
  background-image: url(../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.image-de-fond-francaise {
  background-image: url(../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.image-de-fond-enchantee {
  background-image: url(../images/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.image-de-fond-sens {
  background-image: url(../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

/* Menu */
.menu {
  width: 100%;
  height: auto;
  background: #F7F7F7;
  border-radius: 45px 45px 0px 0px;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
}
.menu .menu-title {
  display: flex;
  align-items: center;
  padding-top: 32px;
  gap: 24px;
}
.menu .menu-title h1 {
  font-family: shrikhand;
  font-size: 28px;
  font-weight: 400;
  padding-left: 17px;
}
.menu .menu-title .coeur {
  height: 22px;
  width: 21px;
  margin: 0px;
  padding: 0;
  position: relative;
  top: 0px;
}
.menu .menu-title .coeur .fa-solid {
  position: absolute;
  top: 10px;
}
.menu .menus-entrees-plats-desserts {
  display: flex;
  flex-direction: column;
  padding: 42px 13px 40px 13px;
  gap: 40px;
}
.menu .menus-entrees-plats-desserts .menus-subtitle {
  font-weight: 300;
  font-size: 16px;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  margin-bottom: 12px;
  width: 40px;
}
.menu .menus-entrees-plats-desserts .section-menu-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu .menus-entrees-plats-desserts .section-menu-cards .card {
  width: 100%;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.menu .menus-entrees-plats-desserts .section-menu-cards .card .card-content {
  padding: 12px 16px 12px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.menu .menus-entrees-plats-desserts .section-menu-cards .card .card-content .card-title h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}
.menu .menus-entrees-plats-desserts .section-menu-cards .card .card-content .card-text {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.menu .menus-entrees-plats-desserts .section-menu-cards .card .card-content .card-text .price {
  font-weight: 700;
}
.menu .menus-entrees-plats-desserts .section-menu-cards .card .card-content .card-text span {
  font-size: 16px;
  font-weight: 300;
  margin: 0px;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .menus-entrees-plats-desserts .section-menu-cards .card .check-menu i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #99E2D0;
}
.menu .menus-entrees-plats-desserts .section-menu-cards .card .check-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 69px;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  margin-right: -70px;
}
.menu .button-explore {
  align-self: center;
  margin-bottom: 40px;
}

.card:hover .check-menu {
  animation: choice 0.3s forwards ease-in;
}

@keyframes choice {
  to {
    margin-right: 0;
  }
}
.entrees {
  opacity: 0;
  animation: menus-in 1s forwards ease-out;
}

.plats {
  opacity: 0;
  animation: menus-in 1s 0.5s forwards ease-out;
}

.desserts {
  opacity: 0;
  animation: menus-in 1s 1s forwards ease-out;
}

@keyframes menus-in {
  from {
    opacity: 0;
    transform: translatey(-20%);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}
.coeur {
  height: 10px;
  width: 10px;
  position: relative;
  top: -14px;
  padding: 10px 10px 10px 10px;
}

.coeur .fa-solid {
  position: absolute;
  top: 10px;
  display: none;
}

.coeur:hover .fa-sharp {
  display: none;
}
.coeur:hover .fa-solid {
  display: flex;
  color: #FF79DA;
  animation: fill-heart 2s forwards;
}

@keyframes fill-heart {
  0% {
    opacity: 0;
    scale: 1.1;
  }
  50% {
    opacity: 0.5;
    scale: 1.3;
  }
  100% {
    opacity: 1;
    scale: 1.1;
  }
}
@media screen and (min-width: 1024px) {
  .main-container {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navbar p {
    font-family: shrikhand;
    font-size: 30px;
    font-weight: 400;
    padding: 26px 0px 26px 0px;
  }
  .navbar a {
    max-width: 1440px;
    position: relative;
    left: -41%;
  }
  .explorer-restaurants h2 {
    font-size: 40px;
    margin: 30px 0 8px 0;
  }
  .explorer-restaurants .button-explore {
    margin: 18px 0px 30px 0px;
  }
  .fonctionnement {
    padding-left: 6%;
    padding-bottom: 50px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .fonctionnement h2 {
    text-align: left;
    padding-top: 36px;
  }
  .fonctionnement .buttons {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }
  .fonctionnement .buttons .button-fonction {
    max-width: 322px;
  }
  .fonctionnement .buttons .button-fonction .fa-solid {
    font-size: 16px;
  }
  .fonctionnement .buttons .button-fonction span {
    font-weight: 500;
  }
  .restaurants {
    margin: 0 auto;
    padding-left: 6%;
    padding-top: 30px;
  }
  .restaurants .restaurants-cards {
    gap: 55px;
  }
  .restaurants .restaurants-cards .cards-part {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
  .restaurants .restaurants-cards .cards-part .card {
    max-width: 500px;
  }
  .menu {
    margin-left: 13%;
    margin-right: 13%;
    width: 74%;
  }
  footer {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    padding: 64px 26px 30px 0;
  }
  footer .logo-footer {
    position: absolute;
    margin-right: 1.02%;
    text-align: left;
    line-height: 5px;
  }
  footer ul {
    display: flex;
    position: relative;
    right: 10%;
  }
  footer ul .icon-text {
    display: flex;
    flex-direction: row;
    width: 200px;
    line-height: 16px;
  }
  footer ul .small-span {
    display: flex;
    flex-direction: row;
    width: 130px;
    margin-left: 0px;
  }
}
@media screen and (min-width: 1440.2px) {
  .main-container {
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 50px;
  }
}

/*# sourceMappingURL=accueil.css.map */
