@charset "UTF-8";
/* Général */
*, ::before, ::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

* {
  font-family: roboto;
  font-weight: 500;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
}
@media screen and (min-width: 1024px) {
  .main-container {
    margin: 0;
    padding: 0;
  }
}
@media screen and (min-width: 1440px) {
  .main-container {
    max-width: 1440px;
    box-sizing: border-box;
    padding: 0 50px;
  }
}

/* éléments texte */
h1 {
  font-size: 30px;
  font-weight: 400;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

a {
  color: black;
  text-decoration: none;
}

p {
  font-size: 18px;
  font-weight: 300;
}

span {
  font-size: 17px;
  font-weight: 300;
}

/* ~~\ loader /~~ */
.loader {
  position: fixed;
  background-color: #FFFFFF;
  height: 100VH;
  width: 100%;
  inset: 0;
  z-index: 2;
  opacity: 0.9;
  animation: loader-decal 0s 3s forwards;
  transform-origin: top;
}
.loader .regroupement {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loader .regroupement .ensemble {
  position: absolute;
  margin: 5px auto;
  top: 130px;
  left: 5px;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  animation: secouer 3s linear infinite;
}
.loader .regroupement .ensemble .casserole {
  height: 30px;
  width: 150px;
  background: #EAEAEA;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  float: initial;
}
.loader .regroupement .ensemble .manche {
  height: 6px;
  width: 120px;
  background: Black;
  border-radius: 0px 5px 5px 0px;
  position: relative;
  top: -10px;
  left: -1px;
}
.loader .regroupement .ensemble .balles {
  height: 10px;
  width: 40px;
  border: 5px solid #99E2D0;
  border-radius: 20%;
  position: relative;
  top: 0px;
  left: -215px;
  z-index: -1;
  animation: bounce2 3s linear infinite;
}

@keyframes loader-decal {
  0% {
    transform: scaley(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scaley(0);
  }
}
@keyframes secouer {
  0%, 50%, 100% {
    transform: rotate(0deg) scale(1);
  }
  25% {
    transform: rotate(20deg) scale(1);
  }
  75% {
    transform: rotate(10deg) scale(1);
  }
}
@keyframes bounce2 {
  0%, 20%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-80px);
  }
  60% {
    transform: translateY(-25px);
  }
}
/* Header */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  width: 100%;
  height: 63px;
}
.navbar h1 {
  font-family: shrikhand;
  font-size: 30px;
  font-weight: 400;
  padding: 14px 0px 5px 0px;
}
@media screen and (min-width: 1024px) {
  .navbar h1 {
    padding: 26px 0px 26px 0px;
    transform: scale(1.2);
  }
}
.navbar a {
  position: absolute;
  left: 23px;
}
@media screen and (min-width: 1024px) {
  .navbar a {
    max-width: 1440px;
    position: relative;
    left: -41%;
  }
}
.navbar a .fa-solid {
  font-size: 16px;
  width: 17px;
}

/* Location */
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #EAEAEA;
}
.location span {
  font-size: 16px;
  font-weight: 500;
  padding: 16px 0px 15px 0px;
  margin: 0;
  color: #353535;
}
.location i {
  color: #353535;
}

/* Explorer restaurants */
.explorer-restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #F7F7F7;
}
.explorer-restaurants h2 {
  margin-top: 39px;
  margin-bottom: 0;
  line-height: 28px;
  width: 70%;
  font-weight: 700;
}
@media screen and (min-width: 1024px) {
  .explorer-restaurants h2 {
    font-size: 40px;
    margin: 30px 0 8px 0;
  }
}
.explorer-restaurants p {
  font-size: 18px;
  line-height: 21px;
  margin: 10px 20px 0px 20px;
}

/* Bouton Explorer */
.button-explore {
  width: 220px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #9356DC 0%, #FF79DA 100%);
  border-radius: 35px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 57px;
  margin-top: 27px;
  padding: 13px 18.75px;
  position: relative;
  cursor: pointer;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.button-explore:hover {
  background: linear-gradient(to top, #ae80e5 0%, #fface8 100%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1024px) {
  .button-explore {
    margin: 18px 0px 30px 0px;
  }
}

.fonctionnement {
  padding-left: 20px;
  padding-bottom: 68px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    margin-left: 4%;
    margin-right: 4%;
    padding: 0 0 50px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (min-width: 1240px) {
  .fonctionnement {
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media screen and (min-width: 1440px) {
  .fonctionnement {
    margin-left: 13%;
    margin-right: 13%;
  }
}
.fonctionnement h2 {
  padding-top: 48px;
  margin-bottom: 24px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement h2 {
    text-align: left;
    padding-top: 36px;
  }
}

/* Bouton Fonctionnement */
.buttons {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  position: relative;
  gap: 20px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 32px;
  }
}
.buttons .button-fonction {
  display: flex;
  flex-wrap: nowrap;
  height: 72px;
  width: 322px;
  background: #F7F7F7;
  border-radius: 20px;
  border: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  padding: 28px 38px 28px 33px;
}
@media screen and (min-width: 1024px) {
  .buttons .button-fonction {
    box-sizing: border-box;
    display: flex;
    width: auto;
  }
}
.buttons .button-fonction:hover {
  background: white;
  box-shadow: 0px 2px 10px 4px rgba(0, 0, 0, 0.25);
}
.buttons .button-fonction .nombre {
  display: flex;
  height: 23px;
  width: 23px;
  background-color: #9356DC;
  border-radius: 50%;
  color: #F6F6F6;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  padding-left: 7px;
  position: relative;
  top: -4px;
  left: -42px;
}
.buttons .button-fonction span {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  .buttons .button-fonction span {
    font-weight: 500;
  }
}
.buttons .button-fonction .fa-color {
  color: #9356DC;
}
.buttons .button-fonction .fa-solid {
  margin-right: 20px;
  line-height: 16px;
}
@media screen and (min-width: 1024px) {
  .buttons .button-fonction .fa-solid {
    font-size: 16px;
  }
}

.coeur svg {
  color: black;
  fill: url(#gradient);
  fill-opacity: 0;
  stroke: Black;
  height: 30px;
  width: 30px;
}
.coeur svg:hover {
  animation: fill-heart 2s forwards;
}

.restaurant-cards .cards-part .card-content .coeur {
  position: absolute;
  right: 5%;
  bottom: 13%;
}

/* mixin fill-heart */
@keyframes fill-heart {
  0% {
    fill-opacity: 0;
    stroke-opacity: 1;
  }
  50% {
    fill-opacity: 0.5;
    stroke-opacity: 0;
    transform: scale(1.3);
  }
  100% {
    fill-opacity: 1;
    stroke-opacity: 0;
    transform: scale(1.1);
  }
}
/* Restaurants */
.restaurants {
  padding: 54px 20px 64px 20px;
  background: #F7F7F7;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurants {
    padding-left: 15%;
    padding-right: 15%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants {
    justify-content: center;
    padding-top: 30px;
    padding-left: 4%;
    padding-right: 4%;
  }
}
@media screen and (min-width: 1240px) {
  .restaurants {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media screen and (min-width: 1440px) {
  .restaurants {
    padding-left: 13%;
    padding-right: 13%;
  }
}

.restaurants-cards {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 18px;
}
@media screen and (min-width: 1024px) {
  .restaurants-cards {
    gap: 55px;
  }
}
.restaurants-cards .cards-part {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media screen and (min-width: 1024px) {
  .restaurants-cards .cards-part {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
}
.restaurants-cards .cards-part .card {
  height: 20rem;
  width: 100%;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .restaurants-cards .cards-part .card {
    max-width: 500px;
  }
}
.restaurants-cards .cards-part .card img {
  height: 17rem;
  width: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  overflow: hidden;
}
.restaurants-cards .cards-part .bouton-nouveau {
  width: 80px;
  height: 29px;
  background: #99E2D0;
  border-radius: 2px;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 5%;
  top: 5%;
}
.restaurants-cards .cards-part .card-content {
  height: 33%;
  padding: 16px 25px 12px 13px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.restaurants-cards .cards-part .card-content h3 {
  font-size: 18px;
  font-weight: 700;
}
.restaurants-cards .cards-part .card-content span {
  font-size: 17px;
  font-weight: 300;
  margin-top: 5px;
}

/* Image de fond */
.image-de-fond {
  min-height: 275px;
  background-size: cover;
  background-position: center;
}

.image-de-fond-gout {
  background-image: url(../images/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}

.image-de-fond-francaise {
  background-image: url(../images/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

.image-de-fond-enchantee {
  background-image: url(../images/stil-u2Lp8tXIcjw-unsplash.jpg);
}

.image-de-fond-sens {
  background-image: url(../images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
}

/* Menu */
.menu {
  width: 100%;
  background: #F7F7F7;
  border-radius: 45px 45px 0px 0px;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .menu {
    margin-left: 7%;
    margin-right: 7%;
    width: 86%;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    margin-left: 13.5%;
    margin-right: 13.5%;
    width: 73%;
  }
}
.menu h2 {
  font-family: shrikhand;
  font-size: 28px;
  font-weight: 400;
  padding-left: 17px;
}
.menu h4 {
  font-size: 18px;
  font-weight: 500;
}
.menu span {
  font-size: 15px;
}
.menu .menu-title {
  display: flex;
  align-items: center;
  padding-top: 32px;
  gap: 24px;
}
.menu .menu-title .coeur svg {
  margin: 0px;
  margin-right: 5px;
  position: relative;
}
.menu .menus-entrees-plats-desserts {
  display: flex;
  flex-direction: column;
  padding: 42px 13px 40px 13px;
  gap: 40px;
}
.menu .menus-entrees-plats-desserts .menus-subtitle {
  font-weight: 300;
  font-size: 16px;
  border-bottom: 3px solid #99E2D0;
  padding-bottom: 5px;
  margin-bottom: 12px;
  width: 40px;
}
.menu .menus-entrees-plats-desserts .section-menu-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu .menus-entrees-plats-desserts .section-menu-cards .card {
  width: 100%;
  height: 69px;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.menu .menus-entrees-plats-desserts .section-menu-cards .card .card-content {
  padding: 12px 16px 12px 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .menus-entrees-plats-desserts .section-menu-cards .card .card-content .card-title {
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 80%;
}
.menu .menus-entrees-plats-desserts .section-menu-cards .card .card-content .card-text {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.menu .menus-entrees-plats-desserts .section-menu-cards .card .card-content .card-text .price {
  font-weight: 700;
}
.menu .menus-entrees-plats-desserts .section-menu-cards .card .card-content .card-text span {
  font-weight: 300;
  margin: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 80%;
}
.menu .menus-entrees-plats-desserts .section-menu-cards .card .check-menu i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  color: #99E2D0;
}
.menu .menus-entrees-plats-desserts .section-menu-cards .card .check-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 69px;
  background: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  margin-right: -60px;
}
.menu .button-explore {
  align-self: center;
  margin-bottom: 40px;
}

.card:hover .check-menu {
  animation: choice 0.3s forwards linear;
}

/* mixin choice */
@keyframes choice {
  to {
    margin-right: 0;
  }
}
/* mixin menu-in */
.entrees {
  opacity: 0;
  animation: menus-in 2s forwards ease-out;
}

.plats {
  opacity: 0;
  animation: menus-in 2s 1s forwards ease-out;
}

.desserts {
  opacity: 0;
  animation: menus-in 2s 2s forwards ease-out;
}

@keyframes menus-in {
  from {
    opacity: 0;
    transform: translatey(-25%);
  }
  to {
    opacity: 1;
    transform: translatey(0);
  }
}
/* Footer */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #353535;
  color: #F6F6F6;
}
@media screen and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
    padding: 64px 26px 30px 0;
  }
}
footer .logo-footer {
  font-family: shrikhand;
  font-weight: 400;
  font-size: 18px;
  margin: 22px 10px 16px 25px;
}
@media screen and (min-width: 1024px) {
  footer .logo-footer {
    position: absolute;
    margin-right: 1.85%;
    text-align: left;
    line-height: 5px;
  }
}
footer ul {
  list-style: none;
  margin: 16px 25px 22px 25px;
}
@media screen and (min-width: 1024px) {
  footer ul {
    display: flex;
    position: relative;
    right: 10%;
  }
}
footer ul li {
  margin-bottom: 8px;
}
footer ul .icon-text {
  display: flex;
  align-items: center;
  gap: 11px;
  font-weight: 500;
  font-size: 16px;
}
@media screen and (min-width: 1024px) {
  footer ul .icon-text {
    display: flex;
    flex-direction: row;
    width: 200px;
    line-height: 16px;
  }
}
footer ul .small-span {
  font-size: 16px;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  footer ul .small-span {
    display: flex;
    flex-direction: row;
    width: 130px;
    margin-left: 0px;
  }
}
footer ul a {
  color: #FFFFFF;
  font-weight: 400;
}

/*# sourceMappingURL=accueil.css.map */
