/* Footer */

footer {
    @include flex-column;
    background: $font-couleur-location;
    color: $couleur-neutre;

    .logo-footer {
        font-family: shrikhand;
        font-weight: 400;
        font-size: 18px;
        margin: 22px 10px 16px 25px;
    }

    ul {
        list-style: none;
        margin: 16px 25px 22px 25px;
            li{
                margin-bottom: 8px;
            }
        
            .icon-text {
                @include flex-items-center;
                gap: 11px;
                font-weight: 500;
                font-size: 16px;
                }
           
            .small-span{
                    font-size: 16px;
                    font-weight:400;   
                }
                a {
                    color: #FFFFFF;
                    font-weight: 400;
                }
            }
}