/* Footer */

footer {
    width: 100%;
    @include flex-column;
    background: $font-couleur-location;
    color: $couleur-neutre;

    @include desktop {
        @include flex-row ;
        align-items: center;
        flex-direction: row-reverse;

        padding: 64px 26px 30px 0;
    }

        .logo-footer {
            font-family: shrikhand;
            font-weight: 400;
            font-size: 18px;
            margin: 22px 10px 16px 25px;

                @include desktop {
                    position: absolute;
                    margin: 0px 0px 16px 16px;
                }
        }

        ul {
            list-style: none;
            margin: 0px 25px 15px 25px;

                @include desktop {
                    margin-bottom: 0px;
                    display: flex;
                    position: relative;
                    right: 10%;
                }
                li{
                    margin-bottom: 7px;
                }
        
                .icon-text {
                    @include flex-items-center;
                    gap: 11px;

                        span{
                            font-weight: 500;
                            font-size: 16px;
                        }

                        @include desktop {
                            @include flex-row;
                            width:200px;  
                            line-height: 16px;
                        }
                    }
           
                .small-span{
                        font-size: 16px;
                        font-weight:400;  
                        
                            @include desktop {
                                @include flex-row;
                                width: 130px;
                                margin-left: 0px; 
                            }

                            a {
                                color: #FFFFFF;
                                font-size: 16px;
                                font-weight: 400;
                            }
                }
        }
}
