/* Header */
.navbar {
    @include flex-justify-items-center;
    background: #FFFFFF;
   
        span {
            font-family: shrikhand;
            font-size: 30px;
            font-weight: 400;
            padding: 14px 0px 5px 0px;
        }

        a {
            position: absolute;
            left: 23px;
        }
}


