/* Bouton Fonctionnement */

.buttons{
    @include flex-items-center;
    flex-flow: column nowrap;
    position: relative;
    gap: 20px;
    width: 100%;

        @include desktop {
            @include flex-row;
            justify-content: left;
            gap: 32px;
        }

            .button-fonction{
                display: flex;
                flex-wrap: nowrap;
                height: 72px;
                width: 322px;
                background: $bg-explorer;
                border-radius: 20px;
                border: none;
                box-shadow: 0  4px 15px rgba(0, 0, 0, 0.15);
                padding:28px 38px 28px 33px ;

                    &:hover {
                        @include highlight;
                    }

                    .nombre{
                        display: flex;
                        height: 23px;
                        width: 23px;
                        background-color: $couleur-primaire;
                        border-radius: 50%;
                        color: $couleur-neutre;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 23px;
                        padding-left: 7px;
                        position:relative ;
                        top: -4px;
                        left: -42px;
                    }        

                    span{
                        font-size: 16px;
                        font-weight: 500;
                    }

                    .fa-color {
                        color: $couleur-primaire;
                    }

                    .fa-solid{
                        margin-right: 20px;
                        line-height: 16px;
                    }  
            }
}
