.fonctionnement {
    padding: 0 20px 68px 20px;

        @include tab {
            padding-left: 12%;
            padding-right: 12%; 
        }

        @include desktop {
            padding: 0 2% 50px 2%;
            position: relative;
            @include flex-column;
            /*justify-content: space-between;*/
        }
        @include desktop-medium {
            padding: 0 10% 50px 10%;
        }

        h2 {
            padding-top: 48px;
            margin-bottom: 26px;

                @include desktop {
                    text-align: left;
                    padding-top: 36px;
                }
        }
}
