.fonctionnement {
    padding-left: 20px;
    padding-bottom: 68px;

        @include tab {
            padding-left: 12%;
            padding-right: 12%; 
        }

        @include desktop {
            padding: 0 10% 50px 10%;
            position: relative;
            @include flex-column;
            justify-content: space-between;
        }

        h2 {
            padding-top: 48px;
            margin-bottom: 24px;

                @include desktop {
                    text-align: left;
                    padding-top: 36px;
                }
        }
}
