/* ~~\ loader /~~ */

.loader {
  position: fixed;
  background-color: #FFFFFF;
  height: 100VH;
  width: 100%;
  inset: 0;
  z-index: 2;
  opacity: 0.9;
  animation: loader-decal 0s 3s forwards;
  transform-origin: top;
      
    .regroupement {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
        .ensemble{
          position: absolute;
          margin: 5px auto;
          top: 130px;
          left: 5px;
          width: 100%;
          height: 80vh;
          @include flex-justify-items-center;
          flex-flow: row nowrap;
          animation: secouer 3s linear infinite;

            .casserole{
              height: 30px;
              width: 150px;
              background: #EAEAEA;
              border-bottom-left-radius: 30px;
              border-bottom-right-radius: 30px;
              float: initial;
            }
      
            .manche{
              height: 6px;
              width: 120px;
              background: Black;
              border-radius: 0px 5px 5px 0px;
              position:relative ;
              top: -10px;
              left: -1px;
            }
      
            .balles{
              height: 10px;
              width: 40px;
              border: 5px solid #99E2D0;
              border-radius: 20%;
              position: relative;
              top: 0px;
              left: -215px;
              z-index: -1;
              animation: bounce2 3s linear infinite;
            }
        }
    }
}
@keyframes loader-decal {
  0% {
      transform: scaley(1);
  }
  50% {
    transform: scale(0.7);
  }
  100% {
      transform: scaley(0);
  }
}

@keyframes secouer {
  0%, 50%, 100% { transform: rotate(0deg) scale(1); }
  25% { transform: rotate(20deg) scale(1); }
  75% { transform: rotate(10deg) scale(1); }
}

@keyframes bounce2 {
	0%,20%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-80px);}
	60% {transform: translateY(-25px);}
}